<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Order</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 p-4">
    <div class="max-w-4xl mx-auto bg-white border border-gray-400 rounded-lg shadow-lg">
        
        <div class="p-4">
            <form action="{{ url_for('views.purchasing') }}" method="POST">
                
                <div class="grid grid-cols-3 gap-4 mb-4">
                    <div class="mb-4">
                        <label for="request_id" class="block text-gray-700">Request ID:</label>
                        <input type="text" id="request_id" name="request_id" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="date" class="block text-gray-700">Date:</label>
                        <input type="date" id="date" name="date" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="type" class="block text-gray-700">Type:</label>
                        <input type="type" id="type" name="type" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                </div>
                <div>
                    <h1 class="text-lg">Purchase Request Information</h1>
                    <div class="mb-4">
                        <label for="ref_no" class="block text-gray-700">Reference No.</label>
                        <input type="text" id="supplier_name" name="supplier_name" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="requestor" class="block text-gray-700">Requested by</label>
                        <input type="text" id="item_description" name="item_description" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="quantity" class="block text-gray-700">Department</label>
                        <input type="number" id="quantity" name="quantity" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="unit_price" class="block text-gray-700">Purpose</label>
                        <input type="number" id="unit_price" name="unit_price" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="total_price" class="block text-gray-700">Remarks</label>
                        <input type="number" id="total_price" name="total_price" class="border border-gray-400 rounded p-1 w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="status" class="block text-gray-700">Date Needed</label>
                        <select id="status" name="status" class="border border-gray-400 rounded p-1 w-full">
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="remarks" class="block text-gray-700">Remarks:</label>
                        <textarea id="remarks" name="remarks" class="border border-gray-400 rounded p-1 w-full"></textarea>
                    </div>
                </div>
                
                <div>
                    <h1 class="text-lg">Details</h1>
                    <div class="border border-gray-300 p-4 mb-4">
                        <table class="w-full text-sm">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="border border-gray-300 p-2">Type</th>
                                    <th class="border border-gray-300 p-2">Product Type</th>
                                    <th class="border border-gray-300 p-2">Product ID</th>
                                    <th class="border border-gray-300 p-2">Description</th>
                                    <th class="border border-gray-300 p-2">Unit</th>
                                    <th class="border border-gray-300 p-2">Uantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                        <td class="border border-gray-300 p-2">{{ item.ItemID }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Description }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Accepted }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Gross }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Billed }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Amount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <div class="border border-gray-300 p-4 mb-4">
                            
                        <table class="w-full text-sm">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="border border-gray-300 p-2">Project ID</th>
                                    <th class="border border-gray-300 p-2">% Cont.</th>
                                    <th class="border border-gray-300 p-2">Account Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                        <td class="border border-gray-300 p-2">{{ item.ItemID }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Description }}</td>
                                        <td class="border border-gray-300 p-2">{{ item.Accepted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </form>
        </div>
    </div>
</body>
</html>
